<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <figure id="logo" data-hook><%= logo img_options: { class: 'img-responsive', width: '138'} %></figure>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% @taxonomies.each do |taxonomy| %>
        <li class="nav-item dropdown">
          <%= link_to '#', class: "nav-link dropdown-toggle", id: "#{taxonomy.name}Dropdown", data: {toggle: 'dropdown'}, role: "button", "aria-haspopup" => "true", "aria-expanded" =>"false" do %>
            <%= taxonomy.name %>
          <% end %>

          <%= nav_tree taxonomy.root, @taxon, "#{taxonomy.name}Dropdown", 1 %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
